body {
    background-image: url('/Img/wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 60% auto;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #d3d3d3;
}

.menu {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icon {
    position: relative;
}

.right-icons {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.icon, .dropbtn {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Aumentar la sombra para más profundidad */
    border: 1px solid blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img, .dropbtn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px; /* Borde redondeado de 3px para las imágenes */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content li a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li a:hover {
    background-color: #575757;
}
