<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penwing</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/Img/icoPenwing.png" type="image/x-icon">
</head>
<body>

<div class="menu">
    <a href="#">Elemento 1</a>
    <a href="#">Elemento 2</a>
    <a href="#">Elemento 3</a>
    <a href="#">Elemento 4</a>
    <a href="#">Elemento 5</a>
</div>

<div class="top-right">
    <button onclick="window.location.href='/CustomerRegistration.html'">Sign Up</button>
    <button onclick="window.location.href='/Login.html'">Sign In</button>
</div>

<script src="js/main.js"></script>
</body>