<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penwing</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/Img/icoPenwing.png" type="image/png">
</head>
<body>
<div class="menu">
    <div class="left-icon">
        <a href="javascript:void(0)" class="dropbtn">
            <img src="/Img/menuIco.png" alt="Icon 3">
        </a>
        <ul class="dropdown-content">
            <li><a href="#">Information</a></li>
            <li><a href="#">Statics</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    <div class="right-icons">
        <div class="icon" onclick="window.location.href='/CustomerRegistration.html'">
            <img src="/Img/R5.jpg" alt="Icon 1">

        </div>
        <div class="icon" onclick="window.location.href='/Login.html'">
            <img src="/Img/p4.png" alt="Icon 2">
        </div>
    </div>
</div>
<script src="Js/Menu.js"></script>
</body>
</html>
