<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penwing</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/Img/icoPenwing.png" type="image/png">
    <input type="hidden" id="customer_name" th:value="${session.customer_name}">
</head>
<body>
<div class="menu">
    <div class="left-icon">
        <a href="javascript:void(0)" class="dropbtn">
            <img src="/Img/menuIco.png" alt="Icon 3">
        </a>
        <ul class="dropdown-content">
            <li><a href="/user-wallet">Information</a></li>
            <li><a href="/user-credit">Wallet</a></li>
            <li><a href="Transactions.html">Transactions</a></li>
        </ul>
    </div>
    <div class="right-icons">
        <div class="icon" onclick="window.location.href='/CustomerRegistration.html'">
            <img src="/Img/R5.jpg" alt="Icon 1">
        </div>
        <div class="icon" onclick="window.location.href='/Index.html'">
            <img src="/Img/Puerta1.png" alt="Icon 2">
        </div>
    </div>
</div>
<div id="welcome-message" th:text="'Wellcome, ' + ${session.customer_name} + '!'"></div>

<script src="Js/Menu.js"></script>
<script src="Js/Wellcome.js"></script>
</body>
</html>